<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Teacher</title>
</head>

<body>
    <h2 class="title">Teacher's Detail</h2>
    <div class="row">
        <div class="col-lg-3">
            <form class="form-vertical" onsubmit="event.preventDefault()">
                <div class="form-group">
                    <div class="formData">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
                        <br>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email">
                        <br>
                        <input type="email" class="form-control" name="mobile" id="mobile"
                            placeholder="Enter Mobile No">
                        <br>
                        <label class="radio-inline"><input type="radio" name="radio" id="male">Male</label>
                        <label class="radio-inline"><input type="radio" name="radio" id="female">Female</label>
                        <br>
                        <!-- <input type="button" onclick="formSubmit()" class="btn btn-primary" id="submit" value="Submit"> -->
                        <button class="btn btn-primary" onclick="formSubmit()">Submit</button>

                        <button class="btn btn-info" onclick="renderData()">Render Data</button>

                    </div>
                </div>
            </form>
            <span id="message"></span>
        </div>

        <div class="col-lg-9">
            <table class="table" id="myTable">

            </table>
        </div>
        <div class="row">

        </div>

    </div>

</body>
<script src="./script.js"></script>

</html>